<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
   <link rel="stylesheet" href="{{url_for('static', filename = 'css/clean-blog.css')}}">

    <title>My blog</title>
</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div class='container'>
        {% include 'includes/_messages.html' %}
    {% block body %} {% endblock %}
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div style="text-align:center">
            <style>.heart{color:#e25555}</style>
            Made with <span class="heart">❤</span> in Helsinki
          </div>
        </div>
      </div>
    </footer>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/clean-blog.min.js')}}"></script>

  <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
  <script type="text/javascript">
    CKEDITOR.replace('editor')
  </script>
</body>
</html>