<div class="contact-container">
    <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57903.1660457389!2d91.82596231128802!3d24.899759462913533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375054d3d270329f%3A0xf58ef93431f67382!2sSylhet%2C+Bangladesh!5e0!3m2!1sen!2sfi!4v1563446204707!5m2!1sen!2sfi"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <div class="contact-info">

      <div class="contact-item">
        <div class="contact-item__icon">
          <i class="fas fa-map-pin"></i>
        </div>
        <h2 class="contact-item__title">Address</h2>
        <p class="contact-item__text">Lorem Ipsum Sit Amet, Dummy Pin, Dummy place</p>
      </div>

      <div class="contact-item">
        <div class="contact-item__icon">
          <i class="fas fa-headphones-alt"></i>
        </div>
        <h2 class="contact-item__title">Support</h2>
        <p class="contact-item__text"> <span><i class="fas fa-phone"></i></span> 1-800-123-4567 </p>
        <p class="contact-item__text"> <span><i class="fas fa-envelope"></i></span> info@dummy.com </p>
      </div>

      <div class="contact-item">
        <div class="contact-item__icon">
          <i class="fas fa-clock"></i>
        </div>
        <h2 class="contact-item__title">Opening Hours</h2>
        <p class="contact-item__text">monday - thursday 11.00am - 9.00pm</p>
        <p class="contact-item__text">Friday - Saturday 9.00am - 2.00am</p>
        <p class="contact-item__text">Sunday 10.00am - 7.00pm</p>
      </div>

    </div>
</div>